---
name: ci
on:  # yamllint disable-line rule:truthy
  push:
    paths:
      - 'docs/**'
      - 'zensical.toml'
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout main
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Install dependencies
        run: uv sync --system

      - name: Build docs
        run: uv run zensical build

      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
